body {
  position: absolute;
  background-color: black;
  margin: 0;
  padding: 0;
  color: white; /*change this later*/
  font-family: "Arvo", serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

*:focus{
  outline: none; 
}

#root{
 height: 100%;
 width: 100%;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-family: "Arvo", serif; 
}

button{
    -webkit-appearance: none;
}

