#NameInput{
    display: inline-block;
    width: 100%;
}

#nameBox{
    display: inline-block;
    width: calc(100% -75px);
}

#nameButton{
    display: inline-block;
    width: 75px;
}

#NameForm{
    display: inline-block;
    width: 100%;
}