#NameInput{
    display: inline-block;
    width: 100%;
}

#NameTitle{
    height: 8vh;
    font-size: 7.5vmin;
    margin-bottom: 25px;
}

#nameBox{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 7vmin;
    font-size: 5vmin;
    border: none;
    border-bottom: 2px solid white;
    margin-left: 1px;
    background-color: rgb(75, 75, 75);
    color: white;
    text-align: center;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
     box-sizing:        border-box;
     margin-bottom: 5px;
     font-family: "Arvo", serif; 
    }

#nameBox:focus {
    background-color: rgba(75,75,75,.5);
}

#NameForm{
    display: inline-block;
    width: 100%;
}

#NameButtonActive{
    animation-name: show;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#NameButtonNonActive{
    opacity: 0;
}

@keyframes show{
    0%   {opacity: 0; }
    100% {opacity: 1;}
  }

.NameButton-enter{
    opacity: 0;
}

.NameButton-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-in;  
}

.NameButton-exit{
    opacity: 1;
}

.NameButton-exit-active{
    opacity: 0;
    transition: opacity 500ms ease-in;
}